<header>
  <h1>SLOT</h1>
</header>
<div class="wrapper">
  <p id="slot-number"></p>

  <p id="slot-number-two"></p>

  <p id="slot-number-three"></p>

  <button id='slot-start' onclick='startSlot()'>START</button>
  <button id='slot-stop' onclick='stopSlot()'>STOP</button>

  <button id='slot-start-two' onclick='startSlotTwo()'>START</button>
  <button id='slot-stop-two' onclick='stopSlotTwo()'>STOP</button>
  
  <button id='slot-start-three' onclick='startSlotThree()'>START</button>
  <button id='slot-stop-three' onclick='stopSlotThree()'>STOP</button>
</div>

