<header>
  <h1>SLOT</h1>
</header>
<div class="wrapper">
  <p id="sugoroku-number"></p>

  <p id="sugoroku-number-two"></p>

  <p id="sugoroku-number-three"></p>

  <button id='sugoroku-start' onclick='startSugoroku()'>START</button>
  <button id='sugoroku-stop' onclick='stopSugoroku()'>STOP</button>

  <button id='sugoroku-start-two' onclick='startSugorokuTwo()'>START</button>
  <button id='sugoroku-stop-two' onclick='stopSugorokuTwo()'>STOP</button>
  
  <button id='sugoroku-start-three' onclick='startSugorokuThree()'>START</button>
  <button id='sugoroku-stop-three' onclick='stopSugorokuThree()'>STOP</button>
</div>

